## Dados de vendas

In [143]:
import pandas as pd
import numpy as np
import datetime

In [144]:
df = pd.read_json('/content/dados_vendas_clientes.json')

In [145]:
df = pd.json_normalize(df['dados_vendas'])
df.head()

,Data de venda,Cliente,Valor da compra
0,06/06/2022,"[@ANA _LUCIA 321, DieGO ARMANDIU 210, DieGO AR...","[R$ 836,5, R$ 573,33, R$ 392,8, R$ 512,34]"
1,07/06/2022,"[Isabely JOanes 738, Isabely JOanes 738, Isabe...","[R$ 825,31, R$ 168,07, R$ 339,18, R$ 314,69]"
2,08/06/2022,"[Isabely JOanes 738, JOãO Gabriel 671, Julya m...","[R$ 682,05, R$ 386,34, R$ 622,65, R$ 630,79]"
3,09/06/2022,"[Julya meireles 914, MaRIA Julia 444, MaRIA Ju...","[R$ 390,3, R$ 759,16, R$ 334,47, R$ 678,78]"
4,10/06/2022,"[MaRIA Julia 444, PEDRO PASCO 812, Paulo castr...","[R$ 314,24, R$ 311,15, R$ 899,16, R$ 885,24]"

In [146]:
colunas_df = list(df.columns)

In [147]:
colunas_alterar = ['Cliente', 'Valor da compra']
df = df.explode(colunas_alterar[:])

In [148]:
df.reset_index(inplace=True, drop=True)

In [149]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Data de venda    20 non-null     object
 1   Cliente          20 non-null     object
 2   Valor da compra  20 non-null     object
dtypes: object(3)
memory usage: 612.0+ bytes

In [150]:
df['Valor da compra'] =  df['Valor da compra'].apply(lambda x : x.replace('R$', '').replace(',', '.').strip())
df['Valor da compra'] =  df['Valor da compra'].astype(np.float64)

In [151]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Data de venda    20 non-null     object
 1   Cliente          20 non-null     object
 2   Valor da compra  20 non-null     float64
dtypes: float64(1), object(2)
memory usage: 612.0+ bytes

In [152]:
df.head()

  Data de venda             Cliente  Valor da compra
0    06/06/2022     @ANA _LUCIA 321           836.50
1    06/06/2022  DieGO ARMANDIU 210           573.33
2    06/06/2022  DieGO ARMANDIU 210           392.80
3    06/06/2022  DieGO ARMANDIU 210           512.34
4    07/06/2022  Isabely JOanes 738           825.31

In [153]:
df['Cliente'] = df['Cliente'].str.lower()
df['Cliente'] = df['Cliente'].str.replace('[^a-z ]', '', regex=True).str.strip()
df.head()

  Data de venda         Cliente  Valor da compra
0    06/06/2022       ana lucia           836.50
1    06/06/2022  diego armandiu           573.33
2    06/06/2022  diego armandiu           392.80
3    06/06/2022  diego armandiu           512.34
4    07/06/2022  isabely joanes           825.31

In [154]:
df['Data de venda'] = pd.to_datetime(df['Data de venda'], format='%d/%m/%Y')

In [186]:
maiores_compradores = df.groupby(['Cliente'])['Valor da compra'].sum().sort_values(ascending=False)
maiores_compradores

Cliente
isabely joanes    2329.30
maria julia       2086.65
julya meireles    1643.74
diego armandiu    1478.47
paulo castro       899.16
thiago fritzz      885.24
ana lucia          836.50
joo gabriel        386.34
pedro pasco        311.15
Name: Valor da compra, dtype: float64

## Dados Locação

In [156]:
import pandas as pd
import numpy as np
import datetime

In [157]:
df_locacao = pd.read_json('/content/dados_locacao_imoveis.json')

In [158]:
df_locacao =  pd.json_normalize(df_locacao['dados_locacao'])

In [159]:
colunas_alterar_locacao = ['datas_combinadas_pagamento', 'datas_de_pagamento','valor_aluguel' ]

In [160]:
df_locacao = df_locacao.explode(colunas_alterar_locacao[:])

In [161]:
df_locacao.reset_index(inplace=True, drop=True)

In [162]:
df_locacao['valor_aluguel'] = df_locacao['valor_aluguel'].apply(lambda x: x.replace('$','').replace(',','.').replace('reais','').strip())

In [163]:
df_locacao['valor_aluguel'] = df_locacao['valor_aluguel'].astype(np.float64)

In [164]:
df_locacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   apartamento                 30 non-null     object
 1   datas_combinadas_pagamento  30 non-null     object
 2   datas_de_pagamento          30 non-null     object
 3   valor_aluguel               30 non-null     float64
dtypes: float64(1), object(3)
memory usage: 1.1+ KB

In [165]:
df_locacao.head()

      apartamento datas_combinadas_pagamento datas_de_pagamento  valor_aluguel
0  A101 (blocoAP)                 01/06/2022         05/06/2022         1000.0
1  A101 (blocoAP)                 01/07/2022         03/07/2022         2500.0
2  A102 (blocoAP)                 02/06/2022         02/06/2022         1100.0
3  A102 (blocoAP)                 02/07/2022         06/07/2022         2600.0
4  B201 (blocoAP)                 03/06/2022         07/06/2022         1200.0

In [166]:
df_locacao['apartamento'] = df_locacao['apartamento'].str.replace(' \(blocoAP\)', '', regex=True)
df_locacao.head()

  apartamento datas_combinadas_pagamento datas_de_pagamento  valor_aluguel
0        A101                 01/06/2022         05/06/2022         1000.0
1        A101                 01/07/2022         03/07/2022         2500.0
2        A102                 02/06/2022         02/06/2022         1100.0
3        A102                 02/07/2022         06/07/2022         2600.0
4        B201                 03/06/2022         07/06/2022         1200.0

In [167]:
df_locacao['datas_combinadas_pagamento'] = pd.to_datetime(df_locacao['datas_combinadas_pagamento'], format="%d/%m/%Y")
df_locacao['datas_de_pagamento'] = pd.to_datetime(df_locacao['datas_de_pagamento'], format="%d/%m/%Y")
df_locacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   apartamento                 30 non-null     object
 1   datas_combinadas_pagamento  30 non-null     datetime64[ns]
 2   datas_de_pagamento          30 non-null     datetime64[ns]
 3   valor_aluguel               30 non-null     float64
dtypes: datetime64[ns](2), float64(1), object(1)
memory usage: 1.1+ KB

In [181]:
df_locacao['dias_em_atraso'] = (df_locacao['datas_de_pagamento'] - df_locacao['datas_combinadas_pagamento']).dt.days.astype(np.int64)

,apartamento,datas_combinadas_pagamento,datas_de_pagamento,valor_aluguel,dias_em_atraso
0,A101,2022-06-01,2022-06-05,1000.0,4
1,A101,2022-07-01,2022-07-03,2500.0,2
2,A102,2022-06-02,2022-06-02,1100.0,0
3,A102,2022-07-02,2022-07-06,2600.0,4
4,B201,2022-06-03,2022-06-07,1200.0,4
5,B201,2022-07-03,2022-07-03,2700.0,0
6,B202,2022-06-04,2022-06-07,1300.0,3
7,B202,2022-07-04,2022-07-05,2800.0,1
8,C301,2022-06-05,2022-06-10,1400.0,5
9,C301,2022-07-05,2022-07-09,2900.0,4
10,C302,2022-06-06,2022-06-08,1500.0,2
11,C302,2022-07-06,2022-07-12,1200.0,6
12,D401,2022-06-07,2022-06-07,1600.0,0
13,D401,2022-07-07,2022-07-09,1300.0,2
14,D402,2022-06-08,2022-06-10,1700.0,2
15,D402,2022-07-08,2022-07-14,1400.0,6
16,E501,2022-06-09,2022-06-10,1800.0,1
17,E501,2022-07-09,2022-07-09,1500.0,0
18,E502,2022-06-10,2022-06-16,1900.0,6
19,E502,2022-07-10,2022-07-12,1600.0,2
20,F601,2022-06-11,2022-06-17,2000.0,6
21,F601,2022-07-11,2022-07-13,1000.0,2
22,F602,2022-06-12,2022-06-15,2100.0,3
23,F602,2022-07-12,2022-07-12,1100.0,0
24,G701,2022-06-13,2022-06-19,2200.0,6
25,G701,2022-07-13,2022-07-20,1200.0,7
26,G702,2022-06-14,2022-06-15,2300.0,1
27,G702,2022-07-14,2022-07-17,2100.0,3
28,H801,2022-06-15,2022-06-18,2400.0,3
29,H801,2022-07-15,2022-07-16,2200.0,1

In [182]:
df_locacao['atrasou'] = df_locacao['dias_em_atraso'].apply(lambda x: True if x > 0 else False)

In [185]:
lista_atrasados = df_locacao.groupby('apartamento')['atrasou'].sum()
lista_atrasados

apartamento
A101    2
A102    1
B201    1
B202    2
C301    2
C302    2
D401    1
D402    2
E501    1
E502    2
F601    2
F602    1
G701    2
G702    2
H801    2
Name: atrasou, dtype: int64

In [188]:
media_atraso = df_locacao.groupby(['apartamento'])['dias_em_atraso'].mean()
media_atraso

apartamento
A101    3.0
A102    2.0
B201    2.0
B202    2.0
C301    4.5
C302    4.0
D401    1.0
D402    4.0
E501    0.5
E502    4.0
F601    4.0
F602    1.5
G701    6.5
G702    2.0
H801    2.0
Name: dias_em_atraso, dtype: float64